.buscador-home {
  margin-top: 62.5vh;
  z-index:3;
}

.buscadorStyle{
  background-color: rgb(240, 240, 240);
  border: none;
  border-radius: 3px;
  font-family: "Poppins";
  font-size: 0.9rem;
  height: 60px;
  margin: 20px auto;
  padding: 5px 10px;
  margin-bottom:0px;
  padding-right:20px;
  text-align: left;
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 1px 2px 5px lightgrey;
}
.autoComplete{
  background-color: rgb(240, 240, 240);
  border: none;
  border-radius: 3px;
  font-family: "Poppins";
  font-size: 0.9rem;
  height: 60px;
  margin: 0px auto;
  padding: 0px;
  padding-right:0px;
  text-align: left;
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 1px 2px 5px lightgrey;

}
.autoComplete:hover{
  background-color:#077594;
}
.resultadosbusqueda{
  position: absolute;
  width: 80%;
}

.lupita{
  color: rgba(0, 0, 0, 0.5);
}

.buscador-input {
  outline: none;
  border: none;
  background-color: none;
  border-radius: none;
}
.buscador-dropdown-input {
  background-color: transparent;
  outline: none;
  border: none;
  background-color: none;
  border-radius: none;
}

option{
  border: none;
}
.buscador{ 
  width: 100%;
  margin:0 !important;
  padding: 0;
  align-items: left;
}
.buscadorPage{
  background-color: rgb(240, 240, 240);
  border: none;
  border-radius: 3px;
  font-family: "Poppins";
  font-size: 0.9rem;
  height: 60px;
  padding: 5px 10px;
  margin-bottom:0px;
  padding-right:20px;
  text-align: left;
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 1px 2px 5px lightgrey;
}