.RegisterForm-wrap {
  padding-top: 50px;
}

.registerForm-p {
  margin: auto auto 20px;
}

.registerForm-button {
  border-radius: 40px;
  display: block;
  font-weight: 700;
  height: 50px;
  width: 50%;
}

.RegisterForm-dflex {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.a-login {
  padding: 5px 20px;
  text-align: right;
}

.RegisterForm-dflex span {
  display: block;
  font-size: 0.8rem;
  line-height: 1.1;
}
.RegisterForm-dflex a {
  color: #5badb9;
  font-size: 0.8rem;
  line-height: 1.1;
}

.RegisterForm-dflex a:hover {
  color: #077594;
}

.RegisterForm-dflex button {
  /* display: inline-block; */
  width: 200px;
}

.RegisterForm-terminos {
  font-size: 0.7rem;
  display: block;
  line-height: 1.6;
  margin-top: 20px;
  text-align: center;
}

.RegisterForm-terminos a {
  color: #5badb9;
}

.RegisterForm-terminos a:hover {
  color: #077594;
}
