.PodcastCard-wrap {
  width: 200px;
  height: auto;
  border-radius: 1px solid rgb(187, 187, 187);
  box-shadow: 2px 2px 6px rgba(128, 128, 128, 0.5);
  display: flex;
  flex-direction: column;
  z-index: -1;
  margin-bottom: 50px;
}

.PodcastCard-img {
  width: 200px;
  height: 200px;
  background-color: #5bacb98c;
  display: flex;
  flex-direction: row;
}

.icons {
  background-color: white;
}

.PodcastCard-text {
  margin: 10px;
}

.PodcastCard-text p {
  margin: 0;
}

.PostcastCard-author {
  font-size: 0.8rem;
}

.PostcastCard-duration {
  color: rgb(167, 167, 167);
}
