.PodcastCard-wrap {
  width: 100px;
  height: auto;
  border-radius: 1px solid lightgray;
  box-shadow: 1px 1px 3px rgb(240, 240, 240);
}

.PodcastCard-img {
  width: 100px;
  height: 100px;
  color: rgb(125, 170, 238);
}
