.Dispositivos-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 80px;
}

.Dispositivos-img {
    background-size: cover;
    overflow: hidden;
}

.Dispositivos-wrap img {
    width: 40%;
    height: auto;
}

.Dispositivos-text {
    display: flex;
    flex-direction: column;
    padding: 50px;
    align-items: flex-start;
}

.Dispositivos-text h4 {
    margin: 0;
}

.Dispositivos-text p {
    margin: 20px auto;
}

.Dispositivos-text button {
    margin: 20px 0 0;
}

