.main {
  width: 100%;
}

.UserProfile-wrap {
  background-color: white;
  min-width: 150px;
}

.UserCard-wrap {
  border-radius: 15px;
  display: block;
  position: relative;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.UserInfo {
  width: 55%;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 10px;
}

.UserSectionsColumn1 {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
}

.profilePicture {
  object-fit: cover;
  border-radius: 10px;
  margin-top: 50px;
  margin-right: 50px;
  height: 220px;
  width: 220px;
}

.UserSectionLine {
  display: flex;
  justify-content: space-between;
}

hr {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.vr {
  width: 1px;
  height: 20px;
  display: inline-block;
}

.userInformationDisplayed {
  color: rgba(0, 0, 0, 0.5)
}

.selected {
  color: black;
  cursor: pointer;
}

.notSelected {
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}