.modalHeader {
background-color: #3fcffa;
    display: block;
    text-align: center;
}

.modalBody {

    display: grid;
}

.modalFooter {
    display: flex;
    flex-wrap: unset;

}

.modalP {
    font-size: 23px;
    color: black;
    text-align: center;
    font-weight: bold;


}
hrModal {
    height: 3px;
    width: 50%;
    background-color: black;
}

.modalPDescripcion {
    font-size: 18px;
    color: black;
    text-align: center;


}

.modalButton {

     margin-left: 110px;
}
