.RegisterForm-wrap {
    padding: 30px 80px;
}

.registerForm-p {
    margin: auto auto 40px;

}

.registerForm-button {
    height: 40px;
    border-radius: 20px;
    font-weight: 700;
}

.registerForm-button-google {
    background-color: lightgrey;
    color: rgb(32, 32, 32);
}

.registerForm-button-facebook {
    background-color: #344C7F;
    color: white;
}

.registerForm-button-apple {
    background-color: black;
    color: white;
}

