.RegisterForm-wrap {
    padding: 30px;
}

.RegisterForm-wrap input {
background-color: rgb(240, 240, 240);
padding: 5px 20px;
margin-top: 15px;
  }

.registerForm-p {
    margin: auto auto 40px;

}

.registerForm-button {
    height: 50px;
    width: 50%;
    border-radius: 40px;
    font-weight: 700;
}

.RegisterForm-dflex {
    display: flex;
    justify-content: center;
}

.a-login {
 text-align: right;
 padding: 5px 20px;
}

.RegisterForm-dflex span {
    display: block;
    font-size: 0.8rem;
    line-height: 1.1;

}
.RegisterForm-dflex a {
    font-size: 0.8rem;
    line-height: 1.1;
    color: #61dafb;
}

.RegisterForm-dflex a:hover {
    color: #077594;
  }

.RegisterForm-dflex button {
    /* display: inline-block; */
    width: 200px;
}

.RegisterForm-terminos {
    font-size: 0.7rem;
    line-height: 1.6;
    display: block;
    margin-top: 20px;
    text-align: center;
}

.RegisterForm-terminos a {
    color: #61dafb;
}

.RegisterForm-terminos a:hover {
    color: #077594;
  }