.RegisterForm-wrap {
    padding: 30px 80px;
}

.RegisterForm-wrap input {
background-color: rgb(240, 240, 240);
padding: 5px 20px;
margin-top: 15px;
  }

.registerForm-p {
    margin: auto auto 40px;

}

.registerForm-button {
    /* display: block; */
    height: 50px;
    width: 370px;
    border-radius: 40px;
    font-weight: 700;
}

.registerForm-button-google {
    background-color: lightgrey;
    color: rgb(32, 32, 32);
}

.registerForm-button-facebook {
    background-color: #344C7F;
    color: white;
}

.registerForm-button-apple {
    background-color: black;
    color: white;
}

