.sliderComponent {
  width: 99.1vw;
  position: absolute;
  left: 0;
  z-index: -1;
  height: calc(80vh - 80px);
  background-color: #141414;
  overflow: hidden;
}

.button {
  background-color: white;
  border: 2px solid #333;
  color: #333;
  text-align: center;
  text-decoration: none;
  width: 50px;
  display: inline-block;
  font-size: 16px;
  height: 50px;
  transition: 0.5s;
  outline: none;
  border-radius: 50%;
  margin: 10px;
}

.button:hover {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.buttonPosition {
  display: flex;
  position: absolute;
  width: 80%;
  height: 60%;
  align-items: center;
  justify-content: space-between;
}

.button:focus {
  outline: 0;
}

.sliderComponent img {
  width: 100%;
  height: auto;
  /* align-items: center; */
  background-position: center;
  background-size: cover;
  overflow: hidden;
}
