.App {
  min-height: 100vh;
  text-align: center;
}

.main {
  width: 100%;
  margin: 0 auto;
  padding: 0 5%
}

.main-home{
  width: 100%;
  margin: 0 auto;
  padding: 0 10%
}
.container {
  display: flex;
  width: 90%;
  padding:0;
  margin-left: 5%;
  grid-template-columns: 50px 50px 50px 50px;
}

.container-home {
  display: flex;
}
