body {
  background-color: #fbfef9;
  font-family: "Poppins", Arial, sans-serif;
  font-size: calc(10px + 2vmin);
  color: #333;
  /* display: flex; */
  flex-direction: column;
  /* justify-content: center; */
  margin: 0;
  min-height: 100vh;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bebas Neue", cursive;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 1rem;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #077594;
}

button {
  background-color: #fe8b86;
  /* background-color: #F99FC9; */
  border: none;
  border-radius: 2px;
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  height: 50px;
  margin: 1% auto;
  width: 50%;
}

button:hover {
  background-color: rgb(255, 204, 203);
  color: rgb(255, 117, 112);
  /* color: white; */
}

hr {
  width: 50%;
}

ul {
  padding-inline-start: 0px;
}

li {
  text-align: left;
}

input {
  background-color: rgb(240, 240, 240);
  border: none;
  border-radius: 3px;
  font-family: "Poppins";
  font-size: 0.9rem;
  height: 40px;
  margin: 10px auto;
  padding: 5px 20px;
  text-align: left;
  width: 100%;
}

input[type="radio"] {
  display: inline-block;
  height: 15px;
  margin: auto 10px;
  width: 15px;
}

input:checked {
  background-color: lightslategrey;
}

label {
  cursor: pointer;
  font-family: "Poppins";
  font-size: 0.9rem;
  margin-right: 20px;
  vertical-align: middle;
}

input[type="radio"]:checked + label span {
  background: #38454e -57px top no-repeat;
}

.rhap_container, .rhap_container *:focus {
  outline: none; 
}