body {
  margin: 0;
  font-family: 'Montserrat', "Raleway", sans-serif;
    -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bebas Neue", cursive;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}

p {
  font-size: 1rem;
}

button {
  width: 65%;
  height: 50px;
  margin: 1% auto;
  background-color: #FE8B86;
  color: white;
  border: none;
  border-radius: 2px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
